Repository ironlam/politic-tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

perf: add caching, consolidate queries, disable prefetch on heavy routes
  src/app/departements/page.tsx
  src/app/factchecks/page.tsx
  src/app/page.tsx
  src/app/partis/[slug]/page.tsx
  src/app/partis/page.tsx
  src/app/politiques/page.tsx
  src/app/presse/page.tsx
  src/components/factchecks/FactCheckCard.tsx
  src/components/politicians/PoliticianCard.tsx
Due: eslint --fix, prettier --write

feat: add /health skill for Vercel deployment & site health auditing
  .claude/commands/health.md
Due: prettier --write

fix(mobile): mobile UX audit — 6 ergonomic fixes
  src/app/factchecks/[slug]/page.tsx
  src/app/politiques/[slug]/page.tsx
  src/components/declarations/DeclarationCard.tsx
  src/components/declarations/DeclarationsFilterBar.tsx
  src/config/navigation.ts
Due: eslint --fix, prettier --write

fix(mobile): audit UX mobile — 6 corrections ergonomiques
  src/app/factchecks/[slug]/page.tsx
  src/app/politiques/[slug]/page.tsx
  src/components/declarations/DeclarationCard.tsx
  src/components/declarations/DeclarationsFilterBar.tsx
  src/config/navigation.ts
Due: eslint --fix, prettier --write

docs: add relations module redesign design
  docs/plans/2026-02-26-relations-redesign-design.md
Due: prettier --write

docs: add relations redesign implementation plan
  docs/plans/2026-02-26-relations-redesign-plan.md
Due: prettier --write

chore: swap react-force-graph-2d for d3-scale/d3-shape
  package-lock.json
  package.json
Due: prettier --write

feat(relations): rewrite types and config for 4 cluster categories
  src/config/relations.ts
  src/types/relations.ts
Due: eslint --fix, prettier --write

feat(db): add governmentName field to Mandate model
  prisma/migrations/20260226161432_add_government_name_to_mandate/migration.sql
  prisma/schema.prisma
Due: none

feat(sync): populate governmentName on government mandate import
  src/services/sync/government.ts
Due: eslint --fix, prettier --write

feat(data): add governmentName backfill script
  scripts/backfill-government-name.ts
Due: eslint --fix, prettier --write

feat(api): rewrite relations endpoint with clustered response format
  src/app/api/politiques/[slug]/relations/route.ts
Due: eslint --fix, prettier --write

feat(relations): add useRelationsLayout hook for radial cluster positioning
  src/components/relations/useRelationsLayout.ts
Due: eslint --fix, prettier --write

feat(relations): add Preview, Dialog, and interactive Graph SVG components
  src/components/relations/RelationsDialog.tsx
  src/components/relations/RelationsGraph.tsx
  src/components/relations/RelationsPreview.tsx
Due: eslint --fix, prettier --write

feat(relations): rewrite Filters (compact mode) and Legend components
  src/components/relations/RelationFilters.tsx
  src/components/relations/RelationLegend.tsx
Due: eslint --fix, prettier --write

feat(relations): rewrite RelationsClient with preview + dialog architecture
  src/app/politiques/[slug]/relations/RelationsClient.tsx
Due: eslint --fix, prettier --write

feat(relations): update page metadata for new relation categories
  src/app/politiques/[slug]/relations/page.tsx
Due: eslint --fix, prettier --write

chore: untrack plan docs (already gitignored)
  docs/plans/2026-02-26-relations-redesign-design.md
  docs/plans/2026-02-26-relations-redesign-plan.md
Due: prettier --write

fix(scripts): use project db client in backfill script (Prisma 7 compat)
  scripts/backfill-government-name.ts
Due: eslint --fix, prettier --write

feat(stats): add shareable tab URLs and ParticipationSection component (#184)
  next.config.ts
  src/app/statistiques/page.tsx
  src/components/stats/ParticipationSection.tsx
  src/components/stats/StatsTabs.tsx
Due: eslint --fix, prettier --write

feat(stats): compute real participation rate from mandate-eligible scrutins (#184)
  src/services/voteStats.ts
Due: eslint --fix, prettier --write

fix(stats): redesign participation ranking — groups, pagination, fix KPI (#211)
  src/app/statistiques/page.tsx
  src/components/stats/ParticipationControls.tsx
  src/components/stats/ParticipationSection.tsx
  src/services/voteStats.ts
Due: eslint --fix, prettier --write

feat(stats): extend votes to senators and fix party participation display (#184)
  .claude/commands/health.md
  src/app/politiques/[slug]/page.tsx
  src/app/statistiques/page.tsx
  src/components/stats/LegislativeSection.tsx
Due: eslint --fix, prettier --write

fix(stats): refonte classement participation — groupes, pagination, KPI corrigé (#211)
  src/app/statistiques/page.tsx
  src/components/stats/ParticipationControls.tsx
  src/components/stats/ParticipationSection.tsx
  src/services/voteStats.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,mts}
  prettier --write: (any of: *.{ts,tsx,mts}) or (any of: *.{json,md,css})
