Repository ironlam/politic-tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(data): close stale MEP mandates, adjust party threshold for transpartisan groups (#107)
  scripts/test-data-quality.ts
Due: eslint --fix, prettier --write

fix(tests): exclude party presidencies from old-mandates check (#107)
  scripts/test-data-quality.ts
Due: eslint --fix, prettier --write

refactor(sync): migrate raw fetch() to HTTPClient with retry and 429 handling (#88)
  scripts/import-legislatives-2024.ts
  scripts/sync-legislation-content.ts
  src/lib/api/http-client.ts
  src/services/sync/candidatures.ts
  src/services/sync/photos.ts
  src/services/sync/wikidata-affairs.ts
Due: eslint --fix, prettier --write

docs(sync): documenter toutes les sources de données dans DATASOURCES.md (#89)
  docs/DATASOURCES.md
Due: prettier --write

docs(sync): document all data sources in DATASOURCES.md (#89)
  docs/DATASOURCES.md
Due: prettier --write

fix(admin): use politician ID instead of slug for admin links (#120)
  src/app/admin/affaires/page.tsx
Due: eslint --fix, prettier --write

fix(search): remove dossier results linking to nonexistent route (#118)
  src/app/api/search/global/route.ts
  src/components/search/GlobalSearchDialog.tsx
Due: eslint --fix, prettier --write

fix(images): normaliser les URLs de photos http → https (#119)
  src/app/admin/affaires/page.tsx
  src/app/admin/politiques/[id]/page.tsx
  src/components/admin/PoliticianForm.tsx
  src/components/politicians/PoliticianAvatar.tsx
  src/components/search/GlobalSearchDialog.tsx
  src/lib/utils.ts
Due: eslint --fix, prettier --write

fix(images): normalize photo URLs http → https (#119)
  src/app/admin/affaires/page.tsx
  src/app/admin/politiques/[id]/page.tsx
  src/components/admin/PoliticianForm.tsx
  src/components/politicians/PoliticianAvatar.tsx
  src/components/search/GlobalSearchDialog.tsx
  src/lib/utils.ts
Due: eslint --fix, prettier --write

chore(env): ajouter variables manquantes et retirer OPENAI_API_KEY
  .env.example
  .github/workflows/sync-daily.yml
  docs/DATASOURCES.md
Due: prettier --write

chore(env): add missing env variables and remove OPENAI_API_KEY
  .env.example
  .github/workflows/sync-daily.yml
  docs/DATASOURCES.md
Due: prettier --write

fix(security): restrict image domains to known sources (#128)
  next.config.ts
Due: eslint --fix, prettier --write

feat(security): add global security headers CSP/HSTS/X-Frame (#127)
  next.config.ts
Due: eslint --fix, prettier --write

feat(ai): upgrade from Haiku 3 to Haiku 4.5 for all AI services (#121)
  src/app/api/chat/route.ts
  src/services/press-analysis.ts
  src/services/summarize.ts
Due: eslint --fix, prettier --write

feat(ai): reinforce press analysis prompt with confidence score and few-shot examples (#121)
  src/services/press-analysis.ts
Due: eslint --fix, prettier --write

feat(db): add confidenceScore field to Affair model (#121)
  prisma/schema.prisma
Due: none

fix(ai): default involvement fallback to MENTIONED_ONLY for safety (#121)
  src/services/press-analysis.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,mts}
  prettier --write: (any of: *.{ts,tsx,mts}) or (any of: *.{json,md,css})
