Repository ironlam/politic-tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,mts}": ["eslint --fix", "prettier --write"],
  "*.{json,md,css}": ["prettier --write"]
}

feat(design): add hexagonal pattern to footer background
  src/components/layout/Footer.tsx
Due: eslint --fix, prettier --write

feat(design): add sliding underline animation to navigation links
  src/app/globals.css
Due: prettier --write

fix(design): use unique IDs in HexPattern to prevent SVG pattern collision
  src/components/ui/HexPattern.tsx
Due: eslint --fix, prettier --write

fix(design): update remaining logo.png references to logo.svg
  src/app/not-found.tsx
  src/components/chat/ChatInterface.tsx
  src/components/chat/ChatWidget.tsx
  src/proxy.ts
Due: eslint --fix, prettier --write

fix(a11y): respect prefers-reduced-motion in animation components
  src/components/motion/FadeIn.tsx
  src/components/motion/StaggerChildren.tsx
Due: eslint --fix, prettier --write

fix(design): separate brand color from accent, add missing logo.svg
  public/logo.svg
  src/app/globals.css
  src/app/layout.tsx
  src/components/home/QuickTools.tsx
  src/components/layout/Header.tsx
  src/components/ui/badge.tsx
Due: eslint --fix, prettier --write

feat(design): add owl to hero and replace Vercel favicon
  src/app/favicon.ico
  src/app/icon.svg
  src/app/page.tsx
  src/proxy.ts
Due: eslint --fix, prettier --write

feat(design): ajouter hibou dans le hero et remplacer favicon Vercel
  src/app/favicon.ico
  src/app/icon.svg
  src/app/page.tsx
  src/proxy.ts
Due: eslint --fix, prettier --write

feat(design): tricolor palette for the owl
  public/logo.svg
  src/app/icon.svg
Due: none

feat(design): palette tricolore pour le hibou
  public/logo.svg
  src/app/icon.svg
Due: none

feat(schema): add PublicationStatus enum and prominenceScore field
  prisma/schema.prisma
  src/components/politicians/PoliticianCard.test.tsx
  src/config/prominence.ts
Due: eslint --fix, prettier --write

feat(scripts): add assign-publication-status script
  scripts/assign-publication-status.ts
Due: eslint --fix, prettier --write

feat(scripts): add recalculate-prominence score script
  scripts/recalculate-prominence.ts
Due: eslint --fix, prettier --write

feat(sync): integrate prominence and status into daily pipeline
  package.json
  scripts/sync-daily.ts
Due: eslint --fix, prettier --write

feat(service): filter by publicationStatus and sort by prominence
  src/services/politicians/index.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

feat(search): filter PUBLISHED and sort by prominence score
  src/app/api/search/politicians/route.ts
Due: eslint --fix, prettier --write

feat(politiques): default sort by prominence, filter PUBLISHED only
  src/app/politiques/page.tsx
  src/components/politicians/FilterBar.tsx
Due: eslint --fix, prettier --write

feat(api): add status and sort=prominence query params
  src/app/api/compare/suggestions/route.ts
  src/app/api/politiques/route.ts
  src/components/compare/SuggestedComparisons.tsx
Due: eslint --fix, prettier --write

fix(scripts): reduce transaction chunk size to avoid timeout
  scripts/recalculate-prominence.ts
Due: eslint --fix, prettier --write

fix(sync): fix POSITION_MAPPING, Wikimedia photos, and Judilibre homonym filter
  scripts/sync-careers.ts
  src/services/sync/judilibre.ts
  src/services/sync/photos.ts
Due: eslint --fix, prettier --write

fix(sync): corriger POSITION_MAPPING, photos Wikimedia et filtre homonymes Judilibre
  scripts/sync-careers.ts
  src/services/sync/judilibre.ts
  src/services/sync/photos.ts
Due: eslint --fix, prettier --write

New files from Fly.io Launch
  .dockerignore
  Dockerfile
  dbsetup.js
  docker-entrypoint.js
  fly.toml
Due: none

chore: ignorer docs/plans/ dans git
  .gitignore
Due: none
