Repository ironlam/politic-tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,mts}": ["eslint --fix", "prettier --write"],
  "*.{json,md,css}": ["prettier --write"]
}

docs: design amélioration pipeline presse — tiers Sonnet/Haiku, sources régionales
  docs/plans/2026-02-18-press-pipeline-design.md
Due: prettier --write

docs: implementation plan for press pipeline improvement
  docs/plans/2026-02-18-press-pipeline-plan.md
Due: prettier --write

feat(press): add judicial keyword pre-filter for tier classification
  src/config/press-keywords.test.ts
  src/config/press-keywords.ts
Due: eslint --fix, prettier --write

feat(press): add judicial keyword pre-filter for tier classification
  docs/plans/2026-02-18-press-pipeline-design.md
  docs/plans/2026-02-18-press-pipeline-plan.md
  src/config/press-keywords.test.ts
  src/config/press-keywords.ts
Due: eslint --fix, prettier --write

feat(press): two-tier model selection (Sonnet/Haiku) with politician context
  src/services/press-analysis.ts
Due: eslint --fix, prettier --write

feat(press): integrate tier classification, priority sorting, politician context
  src/services/sync/press-analysis.ts
Due: eslint --fix, prettier --write

feat(press): add 6 new RSS sources (4 regional + DNA + Google News)
  src/lib/api/article-scraper.ts
  src/lib/api/rss.ts
  src/services/sync/press-analysis.ts
Due: eslint --fix, prettier --write

feat(press): increase daily analysis limit from 20 to 100 articles
  scripts/sync-daily.ts
Due: eslint --fix, prettier --write

fix(press): word-boundary matching to prevent keyword false positives
  src/config/press-keywords.test.ts
  src/config/press-keywords.ts
  src/services/press-analysis.ts
  src/services/sync/press-analysis.ts
Due: eslint --fix, prettier --write

style(press): fix Prettier formatting on keyword files
  src/config/press-keywords.test.ts
  src/config/press-keywords.ts
Due: eslint --fix, prettier --write

fix(press): repair broken RSS feeds and reduce false positive matches (#138)
  src/lib/api/rss.ts
  src/lib/name-matching.ts
Due: eslint --fix, prettier --write

ci(vercel): add ignored build step script for manual-only deploys
  scripts/vercel-ignore-build.sh
Due: none

revert(vercel): remove ignored build step script
  scripts/vercel-ignore-build.sh
Due: none

fix(security): filtrer publicationStatus sur le listing politiques (#139)
  src/app/politiques/page.tsx
Due: eslint --fix, prettier --write

fix(security): filter publicationStatus on politicians listing (#139)
  src/app/politiques/page.tsx
Due: eslint --fix, prettier --write

fix(admin): auto-timeout et annulation des sync jobs bloqués (#140)
  src/app/admin/syncs/page.tsx
  src/app/api/admin/syncs/[id]/route.ts
  src/app/api/admin/syncs/route.ts
Due: eslint --fix, prettier --write

fix(admin): auto-timeout and cancellation of stuck sync jobs (#140)
  src/app/admin/syncs/page.tsx
  src/app/api/admin/syncs/[id]/route.ts
  src/app/api/admin/syncs/route.ts
Due: eslint --fix, prettier --write
